@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* line 51, ../../Desktop/sass/scss/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 56, ../../Desktop/sass/scss/style.scss */
ul,
ol {
  list-style: none;
}

/* line 60, ../../Desktop/sass/scss/style.scss */
a {
  text-decoration: none;
  color: #0e2431;
}

/* line 64, ../../Desktop/sass/scss/style.scss */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0e2431;
}

/* line 73, ../../Desktop/sass/scss/style.scss */
body {
  font-family: "Poppins", sans-serif;
  color: #0e2431;
}

/* line 78, ../../Desktop/sass/scss/style.scss */
nav {
  width: 100%;
  padding: 20px 150px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0px 0px 3px rgba(44, 44, 44, 0.267);
  position: fixed;
  top: 0;
  left: 0;
}

/* line 88, ../../Desktop/sass/scss/style.scss */
nav h2 {
  font-weight: 600;
  font-size: 18px;
}

/* line 95, ../../Desktop/sass/scss/style.scss */
nav ul li {
  display: inline-block;
  padding: 0px 20px;
}

/* line 98, ../../Desktop/sass/scss/style.scss */
nav ul li a {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}

/* line 104, ../../Desktop/sass/scss/style.scss */
nav ul li a:hover {
  color: #091a24;
}

/* line 113, ../../Desktop/sass/scss/style.scss */
header {
  padding: 50px 150px;
  display: flex;
  margin-top: 75px;
  overflow: hidden;
}

/* line 118, ../../Desktop/sass/scss/style.scss */
header #apresentacaoTexto {
  width: 60%;
  padding-right: 25px;
}

/* line 121, ../../Desktop/sass/scss/style.scss */
header #apresentacaoTexto h2 {
  font-size: 36px;
}

/* line 125, ../../Desktop/sass/scss/style.scss */
header #apresentacaoTexto h2 span {
  color: #4070f4;
  font-size: 38px;
}

/* line 132, ../../Desktop/sass/scss/style.scss */
header #apresentacaoTexto button {
  background-color: #4070f4;
  color: #fff;
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

/* line 33, ../../Desktop/sass/scss/style.scss */
header #apresentacaoTexto button:hover {
  cursor: pointer;
  background-color: #3460da;
}

/* line 135, ../../Desktop/sass/scss/style.scss */
header #apresentacaoTexto .midiasSociais {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  color: #0e2431;
}

/* line 141, ../../Desktop/sass/scss/style.scss */
header #apresentacaoTexto .midiasSociais i {
  font-size: 24px;
}

/* line 145, ../../Desktop/sass/scss/style.scss */
header #apresentacaoTexto .midiasSociais i:hover {
  cursor: pointer;
  color: #091a24;
}

/* line 152, ../../Desktop/sass/scss/style.scss */
header #apresentacaoFoto {
  width: 40%;
  background-color: #4070f4;
}

/* line 161, ../../Desktop/sass/scss/style.scss */
main #sobre {
  padding: 50px 150px;
}

/* line 163, ../../Desktop/sass/scss/style.scss */
main #sobre #sobreMim {
  display: flex;
  padding: 25px 0px;
}

/* line 167, ../../Desktop/sass/scss/style.scss */
main #sobre #sobreFoto {
  background-color: #4070f4;
  width: 40%;
}

/* line 171, ../../Desktop/sass/scss/style.scss */
main #sobre #sobreTexto {
  width: 60%;
  padding-left: 25px;
}

/* line 174, ../../Desktop/sass/scss/style.scss */
main #sobre #sobreTexto h3 {
  padding-bottom: 20px;
  font-size: 30px;
}

/* line 180, ../../Desktop/sass/scss/style.scss */
main #sobre #sobreTexto p {
  line-height: 30px;
  color: #142f3f;
}

/* line 184, ../../Desktop/sass/scss/style.scss */
main #sobre button {
  background-color: #4070f4;
  color: #fff;
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

/* line 33, ../../Desktop/sass/scss/style.scss */
main #sobre button:hover {
  cursor: pointer;
  background-color: #3460da;
}

/* line 189, ../../Desktop/sass/scss/style.scss */
main #skills {
  padding: 50px 150px;
}

/* line 191, ../../Desktop/sass/scss/style.scss */
main #skills h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

/* line 194, ../../Desktop/sass/scss/style.scss */
main #skills #conhecimentos {
  display: flex;
  padding: 25px 0px;
}

/* line 197, ../../Desktop/sass/scss/style.scss */
main #skills #conhecimentos #infoSkills {
  width: 60%;
  padding-right: 50px;
}

/* line 200, ../../Desktop/sass/scss/style.scss */
main #skills #conhecimentos #infoSkills p {
  line-height: 30px;
  color: #142f3f;
}

/* line 203, ../../Desktop/sass/scss/style.scss */
main #skills #conhecimentos #infoSkills #flexConhecimentos {
  margin-top: 25px;
}

/* line 205, ../../Desktop/sass/scss/style.scss */
main #skills #conhecimentos #infoSkills #flexConhecimentos article {
  box-shadow: 0px 0px 3px #4070f4;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 5px solid #4070f4;
  border-width: 50%;
}

/* line 215, ../../Desktop/sass/scss/style.scss */
main #skills #conhecimentos #infoSkills #flexConhecimentos article span {
  float: right;
}

/* line 221, ../../Desktop/sass/scss/style.scss */
main #skills #conhecimentos #skillsFoto {
  background-color: #4070f4;
  width: 40%;
}

/* line 228, ../../Desktop/sass/scss/style.scss */
main #trabalhos {
  padding: 50px 150px;
}

/* line 230, ../../Desktop/sass/scss/style.scss */
main #trabalhos h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

/* line 233, ../../Desktop/sass/scss/style.scss */
main #trabalhos #flexbox {
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 238, ../../Desktop/sass/scss/style.scss */
main #trabalhos #flexbox article {
  height: 300px;
  flex-grow: 1;
  flex-basis: 300px;
  background-color: #4070f4;
  margin: 10px;
  border-radius: 5px;
}

/* line 245, ../../Desktop/sass/scss/style.scss */
main #trabalhos #flexbox article:hover {
  background-color: #3460da;
  cursor: pointer;
}

/* line 253, ../../Desktop/sass/scss/style.scss */
main #contato {
  text-align: center;
  padding: 50px 150px;
}

/* line 256, ../../Desktop/sass/scss/style.scss */
main #contato h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

/* line 259, ../../Desktop/sass/scss/style.scss */
main #contato #areaContato {
  width: 500px;
  margin: 0 auto;
  padding: 25px 0px;
}

/* line 264, ../../Desktop/sass/scss/style.scss */
main #contato input, main #contato textarea {
  border: 1px solid #0e2431;
  width: 100%;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
}

/* line 280, ../../Desktop/sass/scss/style.scss */
main #contato button {
  background-color: #4070f4;
  color: #fff;
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

/* line 33, ../../Desktop/sass/scss/style.scss */
main #contato button:hover {
  cursor: pointer;
  background-color: #3460da;
}

/* line 287, ../../Desktop/sass/scss/style.scss */
footer {
  padding: 50px 150px;
  background-color: #0e2431;
  text-align: center;
}

/* line 291, ../../Desktop/sass/scss/style.scss */
footer h4 {
  color: #fff;
  font-size: 18px;
}

/* line 297, ../../Desktop/sass/scss/style.scss */
footer p {
  color: #fff;
  padding: 25px;
  font-weight: 200;
}

/* line 304, ../../Desktop/sass/scss/style.scss */
footer #midiasSociaisFooter {
  margin: 0 auto;
}

/* line 306, ../../Desktop/sass/scss/style.scss */
footer #midiasSociaisFooter i {
  padding: 0px 20px;
  color: #fff;
  font-size: 24px;
}

/* line 312, ../../Desktop/sass/scss/style.scss */
footer #midiasSociaisFooter i:hover {
  cursor: pointer;
  color: #3460da;
}

/*# sourceMappingURL=style.css.map */