@import "./constants.scss";

//Dark Body
body.dark {
    background-color: $corPrincipalDark;
    color: $corBrancaDark;
}
//Dark Menu
body.dark nav, body.dark header a, body.dark header, body.dark header .logo, body.dark header i{
    background-color: $corSegundariaDark;
    color: $corBrancaDark;
    box-shadow: none;
}
//Dark Apresentação
body.dark #apresentacaoPortfolio #apresentacaoTexto h2{
    color: $corBrancaDark;
}
//Dark Sobre
body.dark #sobre, body.dark #servicos{
    background-color: $corSegundariaDark;
    color: $corBrancaDark;
}
body.dark #sobre h3, body.dark #sobre p{
    color: $corBrancaDark;
}
//Dark Projetos
body.dark #projetos h2{
    color: $corBrancaDark;
}
body.dark #projetos div{
    background-color: $corSegundariaDark;
    box-shadow: none;
}
body.dark #projetos div h3, body.dark #projetos div p{
    color: $corBrancaDark
}
//Dark Serviços
body.dark #servicos div{
    background-color: $corPrincipalDark;
    box-shadow: none;
}
body.dark #servicos h2, body.dark #servicos div p{
    color: $corBrancaDark
}
//Dark Conhecimentos
body.dark #meusConhecimentos article{
    background-color: $corSegundariaDark;
    box-shadow: none;
}
body.dark #meusConhecimentos h2, body.dark #meusConhecimentos article, body.dark #meusConhecimentos p{
    color: $corBrancaDark
}
//Dark Contato
body.dark #contato{
    background-color: $corSegundariaDark;
}
body.dark #contato #camposContato{
    background-color: $corPrincipalDark;
    box-shadow: none;
}
//Dark Footer
body.dark footer{
    background-color: $corPrincipalDark;
    color: $corBrancaDark
}