@import "./constants.scss";

//Nav | Menu
.cabecalho{
  width: 100%;
  float: left;
  padding: 1% 10%;
  position: fixed;
  top:0;
  left:0;
  background-color: #fff;
  z-index: 6;
}
.logo{
  width: 200px;
  height: 50px;
  float: left;
  font-size: 22px;
  color: #000;
  font-weight: 600;
  line-height: 56px;
}
h1 span{
  color: #f00;
}
.btn-menu{
  float: right;
  text-align: center;
  color: #000;
  cursor: pointer;
  font-size: 2em;
  line-height: 56px;
  background-color: transparent;
}
.menu{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(64,112,244);
  top: 0;
  left: 0;
  display: none;
  ul{
    text-align: center;
    width: 100%;
    float: left;
  }
  li{
    padding: 3%;
    @include putTransition();
    a{
      color: #fff;
      padding: 2% 3%;
      font: {
        size: 1.5em;
        weight: 600;
      }
    }
    button{
      border:0;
      margin: 0px 0px 0px 20px;
      color: #fff;
      cursor: pointer;
      background-color: transparent;
      text-align: center;
      font: {
        size:22px;
        weight: 600;
      }
    }
     
  }
}
.btn-close{
  float: right;
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  margin-right: 10%;
  margin-top: 2%;
}