//Importando arquivos Scss
@import "./constants.scss";
@import "./zero_config.scss";
@import "./nav_menu.scss";
@import "./dark_mode.scss";

//Apresentação | Home
#apresentacaoPortfolio {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  @media screen and (max-width:1000px){
    padding: 75px;
  }
  #apresentacaoTexto {
    padding: 150px;
    width: $tamanhoArticlesMaior;
    flex-direction: column;
    @media screen and (max-width:1000px){
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      padding: 0px;
    }
    h2 {
      font: {
        size: 18px;
        weight: 400;
      }
      color: rgb(56, 56, 56);
      #nome {
        text-transform: uppercase;
        font: {
          size: 2.5rem;
          weight: 900;
        }
      }
      #profissao{
        font-size: 1.06rem;
        text-transform: uppercase;
      }
    }
    a {
      @include botao;
    }
    .midiasSociais {
      width: 150px;
      display: flex;
      justify-content: space-between;
      margin-top: 75px;
      color: $corSegundaria;
      i {
        font: {
          size: 24px;
        }
        &:hover {
          cursor: pointer;
          color: $hoverSegundaria;
        }
      }
      @media screen and (max-width:1000px){
        padding: 40px 0px;
        margin: 0 auto;
      }
    }
  }
  #apresentacaoFoto {
    width: $tamanhoArticlesMenor;
    position: relative;
    height: 100vh;
    @media screen and (max-width:1000px){
      display: none;
    }
    #fundo{
      width: 100%;
      max-width: 950px;
      position: absolute;
      top: 65px;
      right: 0;
      @media screen and (max-width:1000px){
        display: none;
      }
    }
  }
}


/*main apresentacao simples e animação*/
.object{
  animation:MoveUpDown 2s linear infinite;
  position:absolute;
  right:0;
  top:0;
  z-index:4;
  max-width:550px;
  width: 100%;
}
@keyframes MoveUpDown{
  0%,100%{
   top:0
  }
  50%{
    top:10px
  }
}


//Main | Sections > Sobre mim > Projetos > Serviços > Conhecimentos
main {
  //Sobre
  #sobre {
    padding: $espacamentoLaterais;
    background-color: #fafafa;
    @media screen and (max-width:1000px){
      padding: 70px 20px;
    }
    #sobreMim {
      display: flex;
      padding: 25px 0px;
      align-items: center;
    }
    #sobreFoto {
      width: $tamanhoArticlesMenor;
      padding-right: 30px;
      img{
        width: 100%;
        max-width: 300px;
      }
      @media screen and (max-width:1000px){
        display: none;
      }
    }
    #sobreTexto {
      width: $tamanhoArticlesMaior;
      padding-left: 30px;
      @media screen and (max-width:1000px){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        text-align: center;
        color: $corSegundaria;
      }
      h3 {
        padding-bottom: 20px;
        font: {
          size: 30px;
        }
      }
      p {
        line-height: 30px;
        &:nth-child(2){
          padding-bottom: 20px;
        }
      }
    }
    a {
      @include botao();
    }
  }
  
  //Projetos
  #projetos {
    padding:70px;
    text-align: center;
    #linkRepo{
      color: $corPrincipal;
      font-size: 18px;
    }
    h2 {
      @include alinhamentoTitulo();
    }
    article {
      padding: 25px 0px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: left;
      div {
        height: auto;
        flex-grow: 1;
        flex-basis: 300px;
        background-color: #fafafa;
        padding: 40px 40px 80px 40px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(202, 202, 202);
        position: relative;
        h3{
          font-size: 1.2rem;
        }
        p{
          margin: 20px 0px;
          font-size: 0.9rem;
        }
        .botoes-projetos{
          position: absolute;
          bottom: 40px;
          left: 40px;
        }
        a{
          margin-right: 10px;
        }
        .aovivo-button{
          background-color: $corPrincipal;
          padding: 10px 20px;
          color:#fff;
          border:0;
          font-weight: 500;
          font-size: 14px;
          border-radius: 5px;
          text-transform: uppercase;
          cursor: pointer;
          &:hover {
            cursor: pointer;
            background-color: $hoverPrincipal;
          }
        }
        .github-button{
          width: 35px;
          height: 35px;
          font-size: 20px;
          border-radius: 50%;
          background-color: $corPrincipal;
          color:#fff;
          border:0;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            cursor: pointer;
            background-color: $hoverPrincipal;
          }
        }
      }
    }
    //reponsividade no flexbox
    @media screen and (max-width:800px){
        padding: 70px 10px;
    }
  }

  //Serviços
  #servicos {
    background-color: #fafafa;
    padding: 70px;
    h2 {
       @include alinhamentoTitulo();
    }
    article {
      display: flex;
      height: auto;
      flex-wrap: wrap;
      margin-top: 20px;
    }
    div {
      text-align: center;
      height: auto;
      background-color: #fff;
      padding: 30px;
      border-radius: 15px;
      margin: 10px;
      flex-basis: 250px;
      flex-grow: 1;
      box-shadow: 0px 0px 20px rgb(231, 231, 231);
      h2{
        font-size: 20px;
        padding: 20px 0px;
      }
      p {
        line-height: 30px;
      }
    }
    //reponsividade no flexbox
    @media screen and (max-width:800px){
        padding: 70px 10px;
    }
  }
  .imageIcone {
    width: 50px;
  }
  //Conhecimentos
  #meusConhecimentos {
    width: 100%;
    padding: 70px;
    overflow: hidden;
    h2{
      @include alinhamentoTitulo();
    }
    div {
      display: flex;
      height: auto;
      flex-wrap: wrap;
      margin-top: 25px;
    }
    article {
      text-align: center;
      height: auto;
      background-color: #fff;
      padding: 30px;
      border-radius: 15px;
      margin: 10px;
      flex-basis: 250px;
      flex-grow: 1;
      box-shadow: 0px 0px 20px rgb(231, 231, 231);
      transition: all 0.5s;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
      h2 {
        padding: 10px 0px;
        font-size: 20px;
      }
      p {
        line-height: 30px;
      }
    }
    //reponsividade no flexbox
    @media screen and (max-width:800px){
        padding: 70px 10px;
    }
  }
}

// Scroll
.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: $corPrincipal;
  padding: 14px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
  border-radius: 10%;
  &:hover {
    cursor: pointer;
    background-color: $hoverPrincipal;
  }
  i {
    font-size: 20px;
    color: #fff;
  }
}
//Fim do Main

//Footer | Rodapé
footer {
  padding: 50px 10px;
  background-color: $corSegundaria;
  text-align: center;
  p {
    color: #fff;
    padding: 25px;
    font: {
      size: 14px;
      weight: 200;
    }
  }
  #midiasSociaisFooter {
    margin: 0 auto;
    i {
      padding: 0px 20px;
      color: #fff;
      font: {
        size: 24px;
      }
      &:hover {
        cursor: pointer;
        color: $hoverPrincipal;
      }
    }
  }
}