@import "./constants.scss";

//Zerando as configurações dos navegadores
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: $corSegundaria;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $corSegundaria;
}
body {
  font-family: $fontPrincipal;
  color: $corSegundaria;
}