footer {
  text-align: center;
  margin-top: $gap-7;
  .grid-layout {
    border-top: 1px solid rgba(114, 114, 126, 0.2);
    @include flexbox-between;
    text-align: center;
    width: 100%;
    padding: $gap-1;
    @include responsive-mobile {
      justify-content: center;
    }
    #direitos-autorais {
      margin-top: $gap-3;
    }
    p {
      color: $color-gray;
      text-align: center;
      font: {
        size: 1.8rem;
      }
    }
    div {
      margin-top: $gap-3;
      display: flex;
      align-items: center;
      img {
        width: $gap-3;
        margin-left: $gap-1;
      }
      @include responsive-mobile {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
