#s-home {
  padding: 0px 50px;
  background-color: $bg-main;
  position: relative;
  @include responsive-tablet {
    padding: 0px 20px;
  }
  .grid-layout {
    #home {
      display: flex;
      align-items: center;
      height: 90vh;
      overflow: hidden;
      width: 100%;
      #home-container-text {
        width: 60%;
        flex-direction: column;
        @include responsive-tablet {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          text-align: center;
          padding: 0px;
        }
        h1 {
          color: $color-white;
          font: {
            size: 2.4rem;
            weight: 400;
            family: $font-secondary;
          }
          #home-name {
            font-size: 5.6rem;
            font-weight: 500;
          }
          .typewriter {
            font: {
              family: $font-secondary;
            }
          }
        }
        a {
          background: linear-gradient(
            225deg,
            rgba(102, 16, 242, 0.3) 0%,
            rgba(102, 16, 242, 0) 100%
          );
          color: $color-white;
          backdrop-filter: blur(10px);
          padding: 15px 30px;
          max-width: 250px;
          @include flexbox-center;
          border: 1px solid rgba(102, 16, 242, 0.5);
          transition: all 0.7s ease;
          margin-top: 30px;
          font: {
            size: 18px;
            weight: 500;
            family: $font-secondary;
          }
          &:hover {
            padding: 15px 45px;
            max-width: 280px;
            background: linear-gradient(
              225deg,
              rgba(102, 16, 242, 0.6) 0%,
              rgba(102, 16, 242, 0) 100%
            );
          }
        }
      }
      #home-container-photo {
        width: 40%;
        height: 100vh;
        position: relative;
        @include responsive-tablet {
          display: none;
        }
        #logo-lab {
          width: 100%;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -40%);
          @include responsive-tablet {
            display: none;
          }
          #luz-logo,
          #logo-iuricode {
            opacity: 1;
            animation: light 8s ease infinite alternate;
          }
          @keyframes light {
            0%,
            55% {
              opacity: 0;
            }
            60%,
            100% {
              opacity: 1;
            }
          }
          #luz_2 {
            opacity: 1;
            animation: lightDelay 8s ease infinite alternate;
          }
          @keyframes lightDelay {
            0%,
            60% {
              opacity: 0;
            }
            65%,
            100% {
              opacity: 1;
            }
          }
        }
        .object {
          animation: MoveUpDown 4s linear infinite;
        }
        @keyframes MoveUpDown {
          0%,
          100% {
            top: 34vh;
          }
          50% {
            top: 38vh;
          }
        }
      }
    }
  }
}
