#s-home {
  padding: 0px 50px;
  background-color: $bg-main;
  position: relative;

  @include responsive-tablet {
    padding: 100px 20px 0px 20px;
  }

  .grid-layout {
    #home {
      display: flex;
      align-items: center;
      min-height: 90vh;
      padding: 200px 0px;
      overflow: hidden;
      width: 100%;

      @include responsive-tablet {
        padding: 0px;
      }

      #home-container-text {
        width: 100%;
        flex-direction: column;

        @include responsive-tablet {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          text-align: center;
          padding: 0px;
        }

        h1 {
          color: $color-white;
          max-width: 650px;
          line-height: 140%;

          font: {
            size: 4rem;
            weight: 500;
          }

          @include responsive-tablet {
            font-size: 3.2rem;
          }

          span {
            color: $color-main;
          }
        }

        p {
          color: $color-gray;
          font-size: 2rem;
          max-width: 600px;
          margin: 40px 0px;
          font-weight: 300;
          line-height: 160%;
        }

        a {
          @include flexbox-center;
          background: #986dff;
          color: $color-white;
          backdrop-filter: blur(10px);
          padding: 20px 32px;
          max-width: 300px;
          border-radius: 4px;
          transition: all 0.4s ease;
          margin-top: 30px;

          font: {
            size: 18px;
            weight: 400;
          }

          &:hover {
            padding: 20px 45px;
            max-width: 325px;
          }
        }
      }
      
      #logo {
        position: absolute;
        right: -50px;
        top: 50%;
        transform: translate(0%, -50%);

        @include responsive-desktop {
          display: none;
        }
      }
    }
  }
}
