header {
  background: rgba (14, 9, 27, 0.6);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-bottom: 1px solid rgba(114, 114, 126, 0.2);
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  .grid-layout {
    nav {
      padding: 0px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 8vh;
      @include responsive-tablet() {
        padding: 0px 25px;
      }
      img {
        width: 150px;
      }
      .nav-list {
        list-style: none;
        display: flex;
        li {
          margin-left: 50px;
          a {
            color: $color-gray;
            font-size: 2rem;
            position: relative;
            font: {
              family: $font-main;
            }
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 1px;
              bottom: -7px;
              left: 0;
              background: linear-gradient(270deg, #6610f2 0%, #17161d 100%);
              transform-origin: bottom right;
              transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
            }
            &:hover::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }
  }
}
.mobile-menu {
  display: none;
  div {
    width: 32px;
    height: 1px;
    background-color: $color-white;
    margin: 8px;
    transition: 0.4s;
  }
}
.nav-list.active {
  visibility: initial;
  transition: 1s all ease;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
@include responsive-tablet() {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    text-align: center;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: $bg-secondary;
    flex-direction: column;
    padding-top: 100px;
    visibility: hidden;
  }
  header .grid-layout nav .nav-list li {
    opacity: 0;
    margin: 0px 0px 50px 0px;
    a {
      font-size: 2.4rem;
    }
  }
  .mobile-menu {
    display: block;
  }
}
