header{
  background-color: $corSegundariaDark;
  .larguraMaxContainer{
    nav{
      padding: 0px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10vh;
      @media screen and (max-width: 1024px){
        padding: 0px 25px;
      }
      .logo{
        font-size: 1.3rem;
        font-weight: 600;
        color: $corBranca;
      }
      .nav-list{
        list-style: none;
        display: flex;
        li{
          margin-left: 50px;
          a{
            color: $corBranca;
            text-decoration: none;
            transition: 0.2s;
            font-size: 1.1rem;
            padding-bottom: 4px;
            &:hover{
              border-bottom: 4px solid $corPrincipal;
            }
          }
        }
      }
      
    }
  }
}
.mobile-menu{
  display: none;
  cursor: pointer;
  div{
    width: 32px;
    height: 2px;
    background-color: $corBranca;
    margin: 8px;
    transition: 0.3s;
  }
}
.nav-list.active{
  transform: translateX(0);
}
@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0);
  }
}
.mobile-menu.active .line1{
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
  opacity: 0;
}
.mobile-menu.active .line3{
  transform: rotate(45deg) translate(-5px, -7px);
}
@media screen and (max-width: 1024px){
  body{
      overflow-x: hidden;
  }
  .nav-list{
      position: absolute;
      top: 10vh;
      right: 0;
      width: 50vw;
      height: 100vh;
      z-index: 999;
      background-color: $corSegundariaDark;
      flex-direction: column;
      padding: 20px 0px 300px 0px;
      justify-content: space-between;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
  }
  .nav-list li{
      margin-left: 0;
      opacity: 0;
  }
  .mobile-menu{
      display: block;
  }
}



