header {
  padding: 0px 50px;
  background: $bg-main;
  backdrop-filter: blur($gap-3);
  -webkit-backdrop-filter: blur($gap-3);
  border-bottom: 1px solid #101013;
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @include responsive-tablet() {
    padding: 0px $gap-3;
  }
  .grid-layout {
    nav {
      @include flexbox-between;
      height: 100px;
      padding: 0px $gap-1;
      img {
        width: 150px;
      }
      .nav-list {
        list-style: none;
        display: flex;
        li {
          margin-left: $gap-5;
          @include responsive-tablet() {
            margin-left: $gap-0;
          }
          a {
            color: $color-gray;
            position: relative;
            font: {
              size: 1.8rem;
            }
            @include hover-link();
            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }
  }
}
.mobile-menu {
  display: none;
  div {
    width: $gap-4;
    height: 1px;
    background-color: $color-white;
    margin: $gap-1;
    transition: 0.4s;
  }
}
.nav-list.active {
  visibility: initial;
  transition: 1s all ease;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
@include responsive-tablet() {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    text-align: center;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: $bg-secondary;
    flex-direction: column;
    padding-top: $gap-8;
    visibility: hidden;
  }
  header .grid-layout nav .nav-list li {
    opacity: 0;
    margin-bottom: $gap-5;
    a {
      font-size: 2.4rem;
    }
  }
  .mobile-menu {
    display: block;
  }
}
