#s-projects {
  @include spacing-section;
  text-align: center;
  background-color: $bg-secondary;
  .grid-layout {
    h2 {
      @include title-section();
      span {
        color: $color-main;
        font-size: $gap-6;
      }
    }
    #projects {
      margin: $gap-3 0px;
      @include flexbox-between;

      text-align: left;
      .teslabank {
        border: 1px solid #e51d37;
        &:hover {
          border: 1px solid #e51d37;
        }
      }

      .naped {
        border: 1px solid #00a3ff;
        &:hover {
          border: 1px solid #00a3ff;
        }
      }
      > article {
        background-color: $bg-main;

        @include block-article;
        min-height: 275px;
        h3 {
          color: $color-white;
          font: {
            size: 2.4rem;
            weight: 500;
          }
        }
        p {
          line-height: $gap-3;
          margin: $gap-3 $gap-0;
          color: $color-gray;
          line-height: 3.2rem;
          font: {
            family: $font-secondary;
            size: 1.8rem;
          }
        }
      }
    }
    #teslabank {
      color: #e51d37;

      &::after {
        background: linear-gradient(270deg, #e51d37 0%, #17161d 100%);
      }
    }

    #naped {
      color: #00a3ff;

      &::after {
        background: linear-gradient(270deg, #00a3ff 0%, #17161d 100%);
      }
    }

    a {
      color: $color-main;
      position: relative;
      @include hover-link();
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: -7px;
        left: 0;

        transform-origin: bottom right;
        transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
      }
      font: {
        size: 1.8rem;
        weight: 400;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
