#s-projects {
  padding: 120px 0;

  @include responsive-desktop {
    padding: $gap-7 20px;
  }

  .grid-layout {
    h2 {
      font-size: 1.6rem;
      font-weight: 500;
      color: #565656;
      text-transform: uppercase;
    }

    h3 {
      margin-top: 12px;
      font-size: 4rem;
      font-weight: 500;
    }

    #projects {
      margin-top: 56px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      text-align: left;
      gap: 24px;

      > article {
        @include block-article;
        background-color: $bg-secondary;
        height: auto;

        h3 {
          color: $color-white;

          font: {
            size: 2.4rem;
            weight: 500;
          }
        }

        p {
          line-height: $gap-3;
          margin: $gap-3 $gap-0;
          color: $color-gray;
          line-height: 3.2rem;

          font: {
            size: 1.8rem;
          }
        }
      }
    }

    a {
      @include hover-link();
      color: $color-main;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: -7px;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
      }

      font: {
        size: 2rem;
        weight: 400;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
