//Fonte
$fontPrincipal: 'Fira Code', monospace, 'Montserrat', sans-serif;
//Cores
$corPrincipal: #5429CF;
$corBranca: #FEFBFB;
$corBrancaDark: #F9F9F9;
//Cores Dark
$corPrincipalDark: #181818;
$corSegundariaDark: #202020;
//Cores textos
$corTitulo: #474F52;
$corDescricao:#273137;
//Hover
$hoverPrincipal: #4220A3;


//Espaçamentos
$espacamentoLaterais: 50px 150px;
$tamanhoArticlesMaior: 60%;
$tamanhoArticlesMenor: 40%;
//Unidades responsivos
$espacoResponsivo: 20px;

//Mixins
@mixin botao {
  background-color: $corPrincipal;
  color: #fff;
  padding: 15px 25px;
  max-width: 250px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  font: {
    size: 16px;
    weight: 500;
    family: $fontPrincipal;
  }
  &:hover {
    cursor: pointer;
    background-color: $hoverPrincipal;
  }
}
@mixin texto {
  line-height: 30px;
  color: $corTitulo;
}

@mixin tituloSection {
  padding-bottom: 20px;
  color: $corBranca;
  font: {
    size: 32px;
    weight: 500;
  }
}

@mixin alinhamentoTitulo {
  h2 {
    padding-bottom: 20px;
    color: $corBranca;
    font: {
      size: 32px;
      weight: 500;
    }
  }
}
@mixin putTransition($transitionDuration: .2s) {
  transition: all $transitionDuration ease-in-out;
}