//Fonte
$fontPrincipal: 'Fira Code', monospace, 'Montserrat', sans-serif;
//Cores
$corPrincipal: #6610F2;
//Hover
$hoverPrincipal: #5429CF;
//Cores textos
$corBranca: #FEFBFB;
$corBrancaDark: #F9F9F9;
//Cores Dark
$corPrincipalDark: #181818;
$corSegundariaDark: #202020;

//Mixins
@mixin FlexBox(){
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin LarguraMaxContainer(){
  max-width: 1281px;
  margin: 0 auto;
}

@mixin botao {
  background-color: $corPrincipal;
  color: #fff;
  padding: 15px 25px;
  max-width: 250px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  font: {
    size: 16px;
    weight: 500;
    family: $fontPrincipal;
  }
  &:hover {
    cursor: pointer;
    background-color: $hoverPrincipal;
  }
}

@mixin tituloSection {
  padding-bottom: 20px;
  color: $corBranca;
  font: {
    size: 32px;
    weight: 500;
  }
}