@font-face {
  font-family: "Cera Pro Medium";
  src: local("Cera Pro Medium"), local("Cera Pro Medium"),
    url("../fonts/CeraProMedium.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Regular";
  src: local("Cera Pro Regular"), local("Cera Pro Regular"),
    url("../fonts/CeraProRegular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

//Fonte
$fontPrincipal: "Cera Pro Medium";
$fontSecundaria: "Cera Pro Regular";
//Cores
$corPrincipal: #6610f2;
//Hover
$hoverPrincipal: #5429cf;
//Cores textos
$corBranca: #fafafa;
$corBrancaDark: #c9c9c9;
//Cores Dark
$corPrincipalDark: #0e091b;
$corSegundariaDark: #110e1b;

//Mixins
@mixin FlexBox() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin LarguraMaxContainer() {
  max-width: 1140px;
  margin: 0 auto;
}

@mixin botao {
  background: linear-gradient(
    225deg,
    rgba(102, 16, 242, 0.3) 0%,
    rgba(102, 16, 242, 0) 100%
  );
  color: $corBranca;
  backdrop-filter: blur(10px);
  padding: 15px 30px;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid rgba(102, 16, 242, 0.5);
  transition: all 0.7s ease;
  margin-top: 30px;
  font: {
    size: 18px;
    weight: 500;
    family: $fontSecundaria;
  }
  &:hover {
    padding: 15px 45px;
    max-width: 280px;
    background: linear-gradient(
      225deg,
      rgba(102, 16, 242, 0.6) 0%,
      rgba(102, 16, 242, 0) 100%
    );
  }
}

@mixin tituloSection {
  padding-bottom: 20px;
  color: $corBranca;
  font: {
    size: 4rem;
    weight: 500;
  }
}
