@import "./variables", "./reset", "./menu", "./home", "./about", "./experience",
  "./projects", "./services", "./skills", "./footer";

.typewriter:after {
  content: "|";
  margin-left: $gap-1;
  opacity: 1;
  animation: blink 1s infinite;
  color: $color-main;
}

@keyframes blink {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.grid-layout {
  @include grid-layout();
}
