//Importando arquivos
@import "./variaveis";
@import "./reset";
@import "./menu";

.maquina-escrever:after{
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca 1s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.larguraMaxContainer{
  @include LarguraMaxContainer();
}

//Home > Sobre mim > Projetos > Serviços > Conhecimentos
main {
  // Home
  #apresentacaoPortfolio {
    background-color: $corPrincipalDark;
    position: relative;
    @media screen and (max-width:1024px){
      padding: 20px;
    }
    .larguraMaxContainer{
      display: flex;
      align-items: center;
      height: 90vh;
      overflow: hidden;
      width: 100%;
      padding: 0px 50px;
      #apresentacaoTexto {
        width: 60%;
        flex-direction: column;
        @media screen and (max-width:1024px){
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          text-align: center;
          padding: 0px;
        }
        h2 {
          color: $corBranca;
          font: {
            size: 1.1rem;
            weight: 400;
          }
          #nome {
            font: {
              size: 2.3rem;
              weight: 600;
            }
          }
        }
        a {
          @include botao;
        }
      }
      #apresentacaoFoto {
        width: 40%;
        height: 100vh;
        @media screen and (max-width:1024px){
          display: none;
        }
        #fundo{
          width: 100%;
          max-width: 600px;
          position: absolute;
          top: 0;
          right: 0;
          @media screen and (max-width:1024px){
            display: none;
          }
        }
        .object{
          animation:MoveUpDown 2s linear infinite;
          position:absolute;
          right:0;
          top:0;
          z-index:4;
          max-width:550px;
          width: 100%;
        }
        @keyframes MoveUpDown{
          0%,100%{
            top:0
          }
          50%{
            top:10px
          }
        }
      }
    }
  }

  //Sobre mim
  #sobre {
    background-color: $corSegundariaDark;
    .larguraMaxContainer{
      padding: 100px 50px;
      @media screen and (max-width:1024px){
        padding: 50px 20px;
      }
      #sobreMim {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      #sobreFoto {
        width: 50%;
        padding-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 100%;
          max-width: 400px;
        }
        @media screen and (max-width:1024px){
          display: none;
        }
      }
      #sobreTexto {
        width: 50%;
        @media screen and (max-width:1024px){
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-left: 0px;
        }
        h2 {
          @include tituloSection();
        }
        p {
          line-height: 30px;
          color: $corBrancaDark;
          &:nth-child(2){
            padding-bottom: 20px;
          }
        }
      }
      a {
        @include botao();
      }
    }
  }
  
  //Projetos
  #projetos {
    padding: 100px 50px;
    text-align: center;
    background-color: $corPrincipalDark;
    @media screen and (max-width:1024px){
      padding: 50px 20px;
    }
    .larguraMaxContainer{
      h2 {
        @include tituloSection();
      }
      article {
        margin: 25px 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: left;
        div {
          height: auto;
          flex-grow: 1;
          flex-basis: calc(33% - 20px);
          background-color: $corSegundariaDark;
          padding: 40px 25px;
          margin: 10px;
          border-radius: 5px;
          position: relative;
          @media screen and (max-width:1124px){
            flex-basis: calc(50% - 20px);
          }
          @media screen and (max-width:768px){
            flex-basis: calc(100% - 20px);
          }
          h3{
            font-size: 1.2rem;
            color: $corBranca;
          }
          p{
            line-height: 28px;
            margin: 20px 0px;
            font-size: 1rem;
            color: $corBrancaDark;
          }
          span{
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          button{
            background-color: $corPrincipal;
            padding: 10px 25px;
            color:$corBranca;
            border:0;
            font-weight: 500;
            font-size: 14px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            &:hover {
              cursor: pointer;
              background-color: $hoverPrincipal;
            }
            .iconify{
              font-size: 20px;
            }
          }
        }
      }
      a{
        color: $corPrincipal;
        font-size: 18px;
      }
    }
  }

  //Serviços
  #servicos {
    padding: 100px 50px;
    text-align: center;
    background-color: $corSegundariaDark;
    @media screen and (max-width:1024px){
      padding: 50px 20px;
    }
    .larguraMaxContainer{
      h2 {
        @include tituloSection();
      }
      article {
        display: flex;
        height: auto;
        flex-wrap: wrap;
        margin: 25px 0px;
        div {
          text-align: center;
          height: auto;
          background-color: $corPrincipalDark;
          padding: 40px 30px;
          border-radius: 5px;
          margin: 10px;
          flex-basis: calc(25% - 20px);
          flex-grow: 1;
          @media screen and (max-width:1124px){
            flex-basis: calc(50% - 20px);
          }
          @media screen and (max-width:768px){
            flex-basis: calc(100% - 20px);
          }
          .iconify{
            color: $corPrincipal;
            font-size: 50px;
            margin: 10px 0px;
          }
          h3{
            font-size: 1.2rem;
            padding: 20px 0px;
            color: $corBranca;
          }
          p {
            line-height: 28px;
            font-size: 1rem;
            color: $corBrancaDark;
          }
        }
      }
    }
  }

  //Conhecimentos
  #conhecimentos {
    padding: 100px 50px;
    text-align: center;
    background-color: $corPrincipalDark;
    @media screen and (max-width:1024px){
      padding: 50px 20px;
    }
    .larguraMaxContainer{
      h2{
        @include tituloSection();
      }
      div {
        display: flex;
        height: auto;
        flex-wrap: wrap;
        margin-top: 25px;
        article {
          text-align: center;
          height: auto;
          background-color: $corSegundariaDark;
          padding: 30px;
          border-radius: 5px;
          margin: 10px;
          flex-basis: calc(33% - 20px);
          flex-grow: 1;
          transition: all 0.5s;
          @media screen and (max-width:1124px){
            flex-basis: calc(50% - 20px);
          }
          @media screen and (max-width:768px){
            flex-basis: calc(100% - 20px);
          }
          &:hover {
            cursor: pointer;
            transform: scale(1.03);
          }
          #dualIcones{
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
           
            .iconify{
              margin: 0px 10px 10px 10px;
            }
          }
          .iconify{
            color: $corPrincipal;
            font-size: 50px;
            margin: 10px 0px;
          }
          h3 {
            padding: 15px 0px;
            font-size: 1.3rem;
            color: $corBranca;
          }
          p {
            line-height: 28px;
            color: $corBrancaDark;
            font-size: 1.1rem;
          }
          .estrelaConhecimento {
            background: url("../image/estrelas.png") repeat-x;
            font-size: 0;
            height: 24px;
            line-height: 0;
            overflow: hidden;
            text-indent: -999em;
            width: 110px;
            margin: 10px auto;
          }
          .nivelConhecimento {
            background: url("../image/estrelas.png") repeat-x;
            background-position: 0 100%;
            float: left;
            height: 23.5px;
            display: block;
          }
        }
      }
    }
  }
}

/*
#contato {
  background-color: $corBrancaDark;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  fieldset{
    border: none;
  }
  #agradecimento{
    width: 30%;
    height: 300px;
    background-color: $corPrincipal;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    position: relative;
    div{
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h2{
      color: $corBranca;
    }
    h4{
      color: $corBranca;
    }
  }
  #camposContato{
    background-color: $corBranca;
    width: 60%;
    height: auto;
    border-radius: 10px;
    padding: 30px;
    #campoFlex{
      display: flex;
      justify-content: space-between;
    }
    .campoPadrao{
      width: 47%;
    }
    input{
      border: none;
      padding-left: 15px;
      margin-top: 10px;
      font-size: 14px;
    }
    textarea{
      border: none;
      background-color: #f0f0f0;
      padding: 10px 15px;
      margin-top: 10px;
      font-size: 14px;
    }
    .campos{
      width: 100%;
      height: 40px;
      border-radius: 5px;
       background-color: #f0f0f0;
    }
    #captcha{
      font-size: 20px;
      float: right;
      #campo {
        width: 40px;
        height: 30px;
        background-color:#ddd;
        padding-left: 15px;
        border-radius: 5px;
      }
    }
  }
  #campoDois{
    margin-top: 20px;
    #campoMensagem{
      width: 100%;
      height: 150px;
      border-radius: 5px;
    }
  }
  #botao{
    margin-top: 20px;
    background-color: $corPrincipal;
    color: $corBranca;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font: {
      size:18px;
      weight: 700;
    }
    &:hover{
      background-color: $hoverPrincipal;
    }
  }
}
@media screen and (max-width:1100px){
  #contato{
    padding: 70px 20px;
    #agradecimento{
      display: none;
    }
    #camposContato{
      width: 100%;
    }
  }
}
@media screen and (max-width:650px){
  #contato{
    #camposContato{
       #campoFlex{
        flex-wrap: wrap;
        #espacoResponsivo{
          margin-top: 20px;
        }
      }
      .campoPadrao{
        width: 100%;
      }
    }
  }
}*/

// Scroll
.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: $hoverPrincipal;
  padding: 15px;
  opacity: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
  cursor: pointer;
  .iconify {
    font-size: 26px;
    color: $corBranca;
  }
}

//Footer
footer {
  padding: 50px 10px;
  background-color: $corPrincipal;
  text-align: center;
  p {
    color: $corBranca;
    padding: 25px;
    font: {
      size: 1.1rem;
      weight: 500;
    }
    @media screen and (max-width: 1024px){
      font: {
        size: 1rem;
      }
    }
  }
  #redesSociais {
    .iconify {
      margin: 0px 20px;
      color: $corBranca;
      cursor: pointer;
      font: {
        size: 1.3rem;
      }
      &:hover{
        opacity: 0.7;
      }
    }
  }
}