//Importando arquivos
@import "./variaveis";
@import "./reset";
@import "./menu";

.maquina-escrever:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 1s infinite;
  color: $corPrincipal;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.larguraMaxContainer {
  @include LarguraMaxContainer();
}

//Home > Quem sou > Projetos > Serviços > Conhecimentos
main {
  // Home
  #apresentacaoPortfolio {
    background-color: $corPrincipalDark;
    position: relative;
    @media screen and (max-width: 1024px) {
      padding: 0px 20px;
    }
    .larguraMaxContainer {
      display: flex;
      align-items: center;
      height: 90vh;
      overflow: hidden;
      width: 100%;
      padding: 0px 50px;
      #apresentacaoTexto {
        width: 60%;
        flex-direction: column;
        @media screen and (max-width: 1024px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          text-align: center;
          padding: 0px;
        }
        h1 {
          color: $corBranca;
          font: {
            size: 1.8rem;
            weight: 500;
          }
          #nome {
            font-size: 4.8rem;
          }
        }
        a {
          @include botao;
        }
      }
      #apresentacaoFoto {
        width: 40%;
        height: 100vh;
        @media screen and (max-width: 1024px) {
          display: none;
        }
        #fundo {
          width: 100%;
          max-width: 600px;
          position: absolute;
          top: 0;
          right: 0;
          @media screen and (max-width: 1024px) {
            display: none;
          }
        }
        .object {
          animation: MoveUpDown 2s linear infinite;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 4;
          max-width: 550px;
          width: 100%;
        }
        @keyframes MoveUpDown {
          0%,
          100% {
            top: 0;
          }
          50% {
            top: 10px;
          }
        }
      }
    }
    .mouse {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }

  //Quem sou
  #sobre {
    background-color: $corSegundariaDark;
    .larguraMaxContainer {
      padding: 100px 50px;
      @media screen and (max-width: 1024px) {
        padding: 50px 20px;
      }
      #sobreMim {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      #sobreFoto {
        width: 50%;
        padding-right: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: 1s all ease;
        &:hover {
          transform: scale(1.1);
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          .iconify {
            font-size: 48px;
          }
        }
        #figura1 {
          position: absolute;
          top: 40px;
          right: 430px;
          background-color: $corPrincipalDark;
          border-radius: 10px;
          width: 75px;
          height: 75px;
        }
        #figura2 {
          position: absolute;
          top: 100px;
          right: 150px;
          background-color: $corPrincipalDark;
          border-radius: 10px;
          width: 75px;
          height: 75px;
        }
        #figura3 {
          position: absolute;
          top: 250px;
          right: 450px;
          background-color: $corPrincipalDark;
          border-radius: 10px;
          width: 75px;
          height: 75px;
        }
        .icon1 {
          animation: icon-move 3s ease 2.9s infinite alternate;
        }
        .icon2 {
          animation: icon-move 3s ease 1.9s infinite alternate;
        }
        .icon3 {
          animation: icon-move 3s ease 0.6s infinite alternate;
        }
        @keyframes icon-move {
          0% {
            transform: translate3d(0, 0, 0);
          }
          100% {
            transform: translate3d(10px, -40px, 0);
          }
        }
        img {
          width: 100%;
          max-width: 400px;
        }
        @media screen and (max-width: 1100px) {
          display: none;
        }
      }
      #sobreTexto {
        width: 50%;
        @media screen and (max-width: 1100px) {
          width: 100%;
          display: flex;
          flex-direction: column;

          padding-left: 0px;
        }
        h2 {
          @include tituloSection();
          span {
            color: $corPrincipal;
            font-size: 6rem;
          }
        }
        p {
          line-height: 30px;
          color: $corBrancaDark;
          font-size: 1.6rem;
          &:nth-child(2) {
            padding-bottom: 20px;
          }
        }
        div {
          display: flex;
          flex-wrap: wrap;
          a {
            @include botao();
            @media screen and (max-width: 480px) {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }

  //Projetos
  #projetos {
    padding: 100px 50px;
    text-align: center;
    background-color: $corPrincipalDark;
    @media screen and (max-width: 1024px) {
      padding: 50px 20px;
    }
    .larguraMaxContainer {
      h2 {
        @include tituloSection();
        span {
          color: $corPrincipal;
          font-size: 6rem;
        }
      }
      article {
        margin: 25px 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: left;
        > div {
          height: auto;
          flex-grow: 1;
          flex-basis: calc(33% - 20px);
          background-color: $corSegundariaDark;
          padding: 30px 25px;
          margin: 10px;
          border-radius: 5px;
          border: 2px solid $corSegundariaDark;
          &:hover {
            border-radius: 5px;
            border: 2px solid $corSegundariaDark;
            border-image: linear-gradient(
                225deg,
                rgba(102, 16, 242, 1) 0%,
                $corSegundariaDark 100%
              )
              1;
          }
          @media screen and (max-width: 1124px) {
            flex-basis: calc(50% - 20px);
          }
          @media screen and (max-width: 768px) {
            flex-basis: calc(100% - 20px);
          }
          img {
            margin: 20px 0;
            border-radius: 5px;
          }
          h3 {
            font-size: 2.4rem;
            color: $corBranca;
            font-weight: 500;
          }
          p {
            line-height: 28px;
            margin-top: 20px;
            font-size: 1.6rem;
            color: $corBrancaDark;
          }
          > span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            a {
              width: 50%;
              @media screen and (max-width: 1024px) {
                width: 100%;
              }
            }
            button {
              background-color: $corPrincipal;
              padding: 10px 25px;
              color: $corBranca;
              border: 0;
              font-weight: 500;
              font-size: 14px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              @media screen and (max-width: 1024px) {
                width: 100%;
                justify-content: center;
              }
              &:hover {
                cursor: pointer;
                background-color: $hoverPrincipal;
              }
              .iconify {
                font-size: 20px;
              }
            }
          }
          .linguagensProjeto {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            span {
              padding: 5px;
              background-color: $corPrincipalDark;
              border-radius: 5px;
              color: $corBranca;
              margin-bottom: 5px;
            }
          }
        }
      }
      a {
        color: $corPrincipal;
        font-size: 18px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 1px;
          bottom: -7px;
          left: 0;
          background-color: $corPrincipal;
          transform-origin: bottom right;
          transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        }
        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }

  //Serviços
  #servicos {
    padding: 100px 50px;
    text-align: center;
    background-color: $corSegundariaDark;
    @media screen and (max-width: 1024px) {
      padding: 50px 20px;
    }
    .larguraMaxContainer {
      h2 {
        @include tituloSection();
        span {
          color: $corPrincipal;
          font-size: 6rem;
        }
      }
      article {
        display: flex;
        height: auto;
        flex-wrap: wrap;
        margin: 25px 0px;
        div {
          text-align: center;
          height: auto;
          background-color: $corPrincipalDark;
          padding: 40px 30px;
          border-radius: 5px;
          margin: 10px;
          flex-basis: calc(25% - 20px);
          flex-grow: 1;
          border: 2px solid $corSegundariaDark;
          &:hover {
            border: 2px solid $corSegundariaDark;
            border-image: linear-gradient(
                225deg,
                rgba(102, 16, 242, 1) 0%,
                $corSegundariaDark 100%
              )
              1;
          }
          @media screen and (max-width: 1124px) {
            flex-basis: calc(50% - 20px);
          }
          @media screen and (max-width: 768px) {
            flex-basis: calc(100% - 20px);
          }
          .iconify {
            color: $corPrincipal;
            font-size: 50px;
            margin: 10px 0px;
          }
          h3 {
            font-size: 1.8rem;
            padding: 20px 0px;
            color: $corBranca;
            font-weight: 500;
          }
          p {
            line-height: 28px;
            font-size: 1.6rem;
            color: $corBrancaDark;
          }
        }
      }
    }
  }

  //Conhecimentos
  #conhecimentos {
    padding: 100px 50px;
    background-color: $corPrincipalDark;
    @media screen and (max-width: 1024px) {
      padding: 50px 20px 100px 20px;
    }
    .larguraMaxContainer {
      > div {
        display: flex;
        justify-content: space-between;
        height: auto;
        flex-wrap: wrap;
        article {
          width: 50%;
          @media screen and (max-width: 1124px) {
            width: 100%;
          }
          h2 {
            span {
              color: $corPrincipal;
              font-size: 6rem;
            }
          }
        }
        #cards-conhecimentos {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          div:hover .cards-nomes,
          div:hover .cards-nomes-baixo {
            display: block;
            text-align: center;
          }
          div:hover {
            border-bottom: 4px solid $corPrincipal;
            cursor: pointer;
          }
          div {
            width: 20%;
            flex-grow: 1;
            height: 130px;
            background-color: $corSegundariaDark;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @media screen and (max-width: 768px) {
              width: 40%;
              margin: 20px 0px;
            }
            .cards-nomes {
              position: absolute;
              top: -50px;
              left: 50%;
              transform: translate(-50%, 0%);
              background-color: $corSegundariaDark;
              padding: 5px;
              height: 30px;
              width: 125px;
              border-radius: 4px;
              color: $corBranca;
              display: flex;
              justify-content: center;
              align-items: center;
              display: none;
              font-size: 1.8rem;
            }
            .cards-nomes-baixo {
              position: absolute;
              bottom: -50px;
              left: 50%;
              transform: translate(-50%, 0%);
              background-color: $corSegundariaDark;
              padding: 5px;
              height: auto;
              width: 125px;
              border-radius: 4px;
              color: $corBranca;
              display: flex;
              justify-content: center;
              align-items: center;
              display: none;
              font-size: 1.8rem;
            }
            .aumento-hover {
              bottom: -75px;
            }
            .icon-conhecimentos {
              width: 60px;
            }
          }
        }
        #texto-conhecimentos {
          height: 300px;
          h2 {
            margin-bottom: 30px;
            color: $corBranca;
            font-size: 3.2rem;
            font-weight: 500;
          }
          p {
            font-size: 1.8rem;
            max-width: 500px;
            line-height: 32px;
            color: $corBrancaDark;
          }
        }
      }
    }
  }
}

// Scroll
.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: linear-gradient(
    225deg,
    rgba(102, 16, 242, 0.3) 0%,
    rgba(102, 16, 242, 0) 100%
  );
  border: 1px solid rgba(102, 16, 242, 0.5);
  backdrop-filter: blur(10px);
  padding: 15px;
  opacity: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
      225deg,
      rgba(102, 16, 242, 0.6) 0%,
      rgba(102, 16, 242, 0) 100%
    );
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
  .iconify {
    font-size: 26px;
    color: $corBranca;
  }
}

//Footer
footer {
  padding: 50px 10px;
  text-align: center;
  background-color: $corPrincipalDark;
  color: $corBranca;
  span {
    background-color: $corSegundariaDark;
    padding: 10px 20px;
    border-radius: 20px;
    color: $corBranca;
    font-size: 1.6rem;
    &:hover {
      opacity: 1;
    }
  }
  h2 {
    color: $corBranca;
    font-weight: 500;
    font-size: 3.2rem;
  }
  p {
    color: $corBranca;
    opacity: 0.5;
    padding: 25px;
    font-size: 1.8rem;
    &:nth-child(2) {
      margin-bottom: 25px;
    }
    &:nth-child(5) {
      opacity: 1;
    }
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    a {
      background-color: $corSegundariaDark;
      padding: 15px 25px;
      margin: 10px;
      border-radius: 5px;
      color: $corBranca;
      opacity: 0.5;
      font-size: 1.6rem;
      &:hover {
        opacity: 1;
      }
    }
  }
}
